<%- include ('partials/_header') %>

    <link rel="stylesheet" href="/css/index.css">

    </head>

    <body>

        <%- include ('partials/_navbar',{uno:'inicio', dos: '', tres: ''}) %>

            <aside class="responsive-banner">
                <span class="circle-a"></span>
                <span class="circle-b"></span>
                <div class="container-envelope">

                    <div class="col-xs-12">
                        <p id="parrafo" class="animate__animated animate__bounce">Verifica si eres beneficiaro para la vacunacion
                        </p>
                        <div class="more-link">
                            <a href="verificar"> Verificar </a>
                        </div>
                    </div>

                </div>
            </aside>

            <section class="main-content">

                <div id="contenido">
                    <div>
                        <h2>Contagiados en el Perú</h2>
                    </div>

                    <div>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, libero officiis nemo praesentium doloremque atque facilis cupiditate corporis maxime ullam. Ipsa debitis aspernatur ut amet nostrum a quod impedit eveniet! Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Ipsum, tempore quia aliquam deleniti vitae ipsam ratione voluptate. Omnis libero suscipit assumenda at quisquam et deserunt quod expedita sequi, quia eligendi!
                        </p>
                    </div>
                </div>

                <div id='map'></div>
            </section>

            <br id="hospital">
            <br>
            <br>
            <br>


            <h2>Hospitales donde se puede vacunar</h2>

            <div class="table-responsive">
                <table id="data" class="table">
                    <thead>
                        <tr>
                            <th class="th-sm">Hospital</th>
                            <th class="th-sm">Direccion</th>
                            <th class="th-sm">Telefono</th>
                        </tr>
                    </thead>
                    <tbody>

                        <% for (let i=0; i < resultado.length; i++){ %>
                            <tr>
                                <td>
                                    <%= resultado[i].nombre_hospital %>
                                </td>
                                <td>
                                    <%= resultado[i].direccion_hospital %>
                                </td>
                                <td>
                                    <%= resultado[i].telefono_paciente %>
                                </td>
                            </tr>
                            <% } %>
                    </tbody>
                </table>
            </div>

            <%- include ('partials/_footer') %>


                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
                <script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>

                <script src="https://cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"></script>
                <script src="index.js"></script>

    </body>

    </html>